<ion-header>
  <ion-toolbar>
    <ion-title> 
      Almuerzo CABL  {{almuerzos}}s
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="welcome-card" >
        <ion-grid>
            <ion-row>
               
          <ion-col>
              <div>
                  <ion-card-header>
                      <ion-card-subtitle> (La vane Viandas) </ion-card-subtitle>
                      <ion-card-title>Bifes de pechuga a la criolla</ion-card-title>
                    </ion-card-header>
                    <!-- <ion-card-content>
                        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
                      </ion-card-content> -->
              </div>
            </ion-col>
      
          </ion-row>
        </ion-grid>

    </ion-card>

   


    
</ion-content>
