<ion-header>
    <ion-toolbar>

        <ion-title top center>
            <img src="https://www.cablasociados.com/images/@stock/cabl.png" style="height: 50px;" center>

        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentAlertConfirm()" [disabled]="pedirboton">
        Pedir!!
    </ion-fab-button>
</ion-fab>

<ion-content>

    <!-- fab placed to the (vertical) center and end -->


    <form #form="ngForm">



        <ion-list>
            <ion-radio-group allow-empty-selection="true" name="radio-group" (ionChange)="radioGroupChange($event)">
                <ion-list-header>
                    <ion-label>Menu Diario</ion-label>
                </ion-list-header>

                <ion-item *ngFor="let item of items ">
                    <ion-label>{{item.nombre}}</ion-label>
                    <ion-radio slot="start" value="{{item.id}}" name="{{item.id}}"></ion-radio>
                </ion-item>


            </ion-radio-group>
        </ion-list>
    </form>






</ion-content>