<ion-content>
<div #map id="maps"></div>
<ion-header id="puntoa1">
    <ion-toolbar id="puntoa">
      <ion-searchbar [(ngModel)]="puntoa.input" (ionInput)="updateSearchResults()" placeholder="Direccion de Partida" search-icon="md-locate"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-header id="puntoa1">
  <ion-toolbar id="puntoa">
    <ion-searchbar [(ngModel)]="puntob.input" (ionInput)="updateSearchResultsb()" placeholder="Direccion de Entrega" search-icon="md-locate"></ion-searchbar>
  </ion-toolbar>
</ion-header>

  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>

  <ion-list [hidden]="autocompleteItemsb.length == 0">
    <ion-item *ngFor="let item of autocompleteItemsb" tappable (click)="selectSearchResultb(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>
  </ion-content>

  <ion-footer>
    <ion-toolbar id="pie">
      <ion-title>{{distancia}}</ion-title>
      <ion-title>$ {{monto}}</ion-title>
    </ion-toolbar>
  </ion-footer>