#maps
{
    position: fixed !important; 
    height: 100% !important;
    width: 100% !important;
}
#puntoa {
    --background: transparent;
    --ion-color-base: transparent !important;

}

.header-md:after {
    background-image: none!important;

}
ion-footer {
    
    top: -56px;

}
#pie{

    --background: aquamarine!important;

}