<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input v-model="listQuery.title" placeholder="Title" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-select v-model="listQuery.importance" placeholder="Imp" clearable style="width: 90px" class="filter-item">
        <el-option v-for="item in importanceOptions" :key="item" :label="item" :value="item" />
      </el-select>
      <el-select v-model="listQuery.type" placeholder="Type" clearable class="filter-item" style="width: 130px">
        <el-option v-for="item in calendarTypeOptions" :key="item.key" :label="item.display_name+'('+item.key+')'" :value="item.key" />
      </el-select>
      <el-select v-model="listQuery.sort" style="width: 140px" class="filter-item" @change="handleFilter">
        <el-option v-for="item in sortOptions" :key="item.key" :label="item.label" :value="item.key" />
      </el-select>
      <el-button v-waves class="filter-item" type="primary" icon="el-icon-search" @click="handleFilter">
        Buscar
      </el-button>
      <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-edit" @click="handleCreate">
        Cargar
      </el-button>
      <el-button v-waves :loading="downloadLoading" class="filter-item" type="primary" icon="el-icon-download" @click="handleDownload">
        Exportar
      </el-button>

    </div>

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
      @sort-change="sortChange"
    >
      <el-table-column label="ID" prop="id" sortable="custom" align="center" width="80">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Titulo" min-width="150px">
        <template slot-scope="{row}">
          <span class="link-type" @click="handleUpdate(row)">{{ row.position_name }}</span>
          
        </template>


      </el-table-column>

      <el-table-column label="Nuevos" min-width="50px">
        <template slot-scope="{row}">
          <span class="link-type" @click="handleUpdate(row)">{{ row.phone }}</span>
          
        </template>
      </el-table-column>

      <el-table-column label="En Revision" min-width="50px">
        <template slot-scope="{row}">
          <span class="link-type" @click="handleUpdate(row)">{{ row.phone }}</span>
          
        </template>
      </el-table-column>

      <el-table-column label="Contactar" min-width="50px">
        <template slot-scope="{row}">
          <span class="link-type" @click="handleUpdate(row)">{{ row.phone }}</span>
          
        </template>
      </el-table-column>

      <el-table-column label="Entrevistas" min-width="50px">
        <template slot-scope="{row}">
          <span class="link-type" @click="handleUpdate(row)">{{ row.phone }}</span>
          
        </template>
      </el-table-column>






   
      <el-table-column label="Actions" align="center" width="230" class-name="small-padding fixed-width">
        <template slot-scope="{row}">

          <el-button type="primary" size="mini" @click="handleUpdate(row)">
            Editar
          </el-button>

        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />

    <el-dialog  :visible.sync="dialogFormVisible" width="50%" top="2px">
      <el-form ref="dataForm" :rules="rules" :model="temp" label-position="top" label-width="70px" style="">
       

<form-wizard title="NUEVA VACANTE" 
                      subtitle="Crear nueva vacante"                       
                      back-button-text="Regresar"
                      next-button-text="Siguiente"
                      finish-button-text="Finalizar">
  <tab-content title="Datos de Vacante">
    
        <el-form-item label="Nombre del Puesto *" prop="position_name">
          <el-input v-model="temp.position_name" placeholder="Nombre"/>
        </el-form-item>

<el-row>
  <el-col :span="12">
<el-form-item label="Ubicacion del la vacante *" prop="location">
        <el-select
            v-model="temp.location"
            multiple
            filterable
            remote
            reserve-keyword
            placeholder="Ubicacion"
            :remote-method="remoteMethod"
            :loading="loading">
              <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
               </el-option>

        </el-select>
</el-form-item>

  </el-col>

 

</el-row>

        <el-form-item label="Descripcion de la Empresa *" prop="company_details" style="margin-bottom: 30px;">
          <Tinymce ref="editor" v-model="temp.company_details" :height="100" />
        </el-form-item>

        <el-form-item label="Descripcion de la Vacante *" prop="job_details" style="margin-bottom: 30px;">
          <Tinymce ref="editor" v-model="temp.job_details" :height="100" />
        </el-form-item>

        <el-form-item label="Requisitos *" prop="requirements" style="margin-bottom: 30px;">
          <Tinymce ref="editor" v-model="temp.requirements" :height="100" />
        </el-form-item>

        <el-form-item label="Beneficios *" prop="benefits" style="margin-bottom: 30px;">
          <Tinymce ref="editor" v-model="temp.benefits" :height="100" />
        </el-form-item>





<input type="hidden" name="_token" value="jtoGma5oMvUqR15YkrVMoZI9N0XOGpg7tqbN82SY">
  </tab-content>
  <tab-content title="Caracteristicas">
      
      <el-row>
  <el-col :span="12">
<el-form-item label="Area *" prop="area">


          <el-select @change="getSubArea" v-model="temp.area" :remote-method="getArea" filterable default-first-option remote placeholder="SECCIONES">
            <el-option v-for="(item,index) in area" :key="item.nombre+index" :label="item.nombre" :value="item.id" />
          </el-select>

</el-form-item>

<el-form-item label="Jerarquia *" prop="hierarchy">
        <el-select
            v-model="temp.hierarchy"
            multiple
            filterable
            remote
            reserve-keyword
            placeholder="Nivel de Profesion"
            :remote-method="remoteMethod"
            :loading="loading">
              <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
               </el-option>

        </el-select>
</el-form-item>

<el-form-item label="Nivel minimo de educacion *" prop="education">
        <el-select
            v-model="temp.education"
            multiple
            filterable
            remote
            reserve-keyword
            placeholder="Please enter a keyword"
            :remote-method="remoteMethod"
            :loading="loading">
              <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
               </el-option>

        </el-select>
</el-form-item>

<el-form-item label="Tiempo de empleo *" prop="time">
        <el-select
            v-model="temp.time"
            multiple
            filterable
            remote
            reserve-keyword
            placeholder="Please enter a keyword"
            :remote-method="remoteMethod"
            :loading="loading">
              <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
               </el-option>

        </el-select>
</el-form-item>

  </el-col>

  <el-col :span="12">

<el-form-item label="Sub Area *" prop="subarea">

          <el-select  v-model="temp.subarea"   placeholder="Sub Areas" remote>
            <el-option v-for="(item,index) in subarea" :key="item.nombre+index" :label="item.nombre" :value="item.id" />
          </el-select>

</el-form-item>

<el-form-item label="Genero *" prop="genero">
        <el-select
            v-model="temp.genero"
            multiple
            filterable
            remote
            reserve-keyword
            placeholder="Please enter a keyword"
            :remote-method="remoteMethod"
            :loading="loading">
              <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
               </el-option>

        </el-select>
</el-form-item>

<el-form-item label="Estado de nivel de educacion *" prop="estado_educacion">
        <el-select
            v-model="temp.estado_educacion"
            multiple
            filterable
            remote
            reserve-keyword
            placeholder="Please enter a keyword"
            :remote-method="remoteMethod"
            :loading="loading">
              <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
               </el-option>

        </el-select>
</el-form-item>

<el-form-item label="Sueldo bruto ofrecido *" prop="salary">
        <el-select
            v-model="temp.salary"
            multiple
            filterable
            remote
            reserve-keyword
            placeholder="Please enter a keyword"
            :remote-method="remoteMethod"
            :loading="loading">
              <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
               </el-option>

        </el-select>
</el-form-item>

  </el-col>

</el-row>



   </tab-content>
   <tab-content title="Last step">
     Yuhuuu! Imagen
   </tab-content>
</form-wizard>


<el-row :gutter="20">
  <el-col :sm="24" :md="12" >

  </el-col>

  <el-col :sm="24" :md="12">
    <div class="grid-content bg-purple-light" >
    </div>
  </el-col>

</el-row>
       




      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          Cancel
        </el-button>
        <el-button type="primary" @click="dialogStatus==='create'?createData():updateData()">
          Confirm
        </el-button>
      </div>
    </el-dialog>

    <el-dialog :visible.sync="dialogPvVisible" title="Reading statistics">
      <el-table :data="pvData" border fit highlight-current-row style="width: 100%">
        <el-table-column prop="key" label="Channel" />
        <el-table-column prop="pv" label="Pv" />
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogPvVisible = false">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
//Apis de extraccion a bd
import { fetchList, fetchPv, createVacante, updateVacante } from '@/api/vacantes'
import { fetchAreas, fetchSubarea,fetchUbicaciones} from '@/api/base'


// waves directive
import waves from '@/directive/waves' 
import { parseTime } from '@/utils'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination

//local registration FormWizard
import {FormWizard, TabContent} from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'

import Tinymce from '@/components/Tinymce'
const calendarTypeOptions = [
  { key: 'CN', display_name: 'China' },
  { key: 'US', display_name: 'USA' },
  { key: 'JP', display_name: 'Japan' },
  { key: 'EU', display_name: 'Eurozone' }
]

// arr to obj, such as { CN : "China", US : "USA" }
const calendarTypeKeyValue = calendarTypeOptions.reduce((acc, cur) => {
  acc[cur.key] = cur.display_name
  return acc
}, {})

export default {
  name: 'ComplexTable',
  components: { Pagination,FormWizard,Tinymce,
  TabContent },
  directives: { waves },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'info',
        deleted: 'danger'
      }
      return statusMap[status]
    },
    typeFilter(type) {
      return calendarTypeKeyValue[type]
    }
  },
  data() {
    return {
      tableKey: 0,
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 20,
        importance: undefined,
        title: undefined,
        type: undefined,
        sort: '+id'
      },
      importanceOptions: [1, 2, 3],
      calendarTypeOptions,
      sortOptions: [{ label: 'ID Ascending', key: '+id' }, { label: 'ID Descending', key: '-id' }],
      statusOptions: ['published', 'draft', 'deleted'],
      showReviewer: false,
      subarea:[],
      temp: {
        id: undefined,
        position_name:'',
        location:'',
        area:[],
        company_details:'',
        job_details:'',
        requirements:'',
        benefits:'',
        hierarchy:'',
        education:'',
        time:'',
        subarea:[],
        gender:'',
        estado_educacion:'',
        salary:'',
        role_id: 5,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        type: '',
        status: 'published'
      },
      dialogFormVisible: false,
      dialogStatus: '',
      textMap: {
        update: 'Editar',
        create: 'Nuevo'
      },
      dialogPvVisible: false,
      pvData: [],
      rules: {
        type: [{ required: true, message: 'type is required', trigger: 'change' }],
        timestamp: [{ type: 'date', required: true, message: 'timestamp is required', trigger: 'change' }],
        title: [{ required: true, message: 'title is required', trigger: 'blur' }]
      },
      downloadLoading: false
    }
  },
  created() {
    this.getList()
    this.getArea()
  },
  methods: {

    getList() {
      this.listLoading = true
      fetchList(this.listQuery).then(response => {
        this.list = response.items
        this.total = response.items.total
          console.log(response.items);
        // Just to simulate the time of the request
        setTimeout(() => {
          this.listLoading = false
        }, 1.5 * 1000)
      })
    },

    getArea(){

      fetchAreas(this.listQuery).then(response => {
        this.area = response.items
        //this.total = response.items.total
        console.log(this.area);

      })

    },
    getSubArea(value){

      fetchSubarea(value).then(response => {

        this.subarea = response.items
        //this.total = response.items.total
        console.log(this.subarea);

      })

    },
    remoteMethod() {

console.log("hola");

    },
    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    },
    handleModifyStatus(row, status) {
      this.$message({
        message: '操作Success',
        type: 'success'
      })
      row.status = status
    },
    sortChange(data) {
      const { prop, order } = data
      if (prop === 'id') {
        this.sortByID(order)
      }
    },
    sortByID(order) {
      if (order === 'ascending') {
        this.listQuery.sort = '+id'
      } else {
        this.listQuery.sort = '-id'
      }
      this.handleFilter()
    },
    resetTemp() {
      this.temp = {
        id: undefined,
        role_id: 5,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        status: 'published',
        type: ''
      }
    },
    handleCreate() {
      this.resetTemp()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    createData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
         const tempData = Object.assign({}, this.temp)
          this.temp.id = parseInt(Math.random() * 100) + 1024 // mock a id
          this.temp.name = tempData.name

          createArticle(this.temp).then(() => {

            this.list.unshift(this.temp)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Created Successfully',
              type: 'success',
              duration: 2000
            })
          })
       
        }
      })
    },
    handleUpdate(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.temp.timestamp = new Date(this.temp.timestamp)
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    updateData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp)
          tempData.timestamp = +new Date(tempData.timestamp) // change Thu Nov 30 2017 16:41:05 GMT+0800 (CST) to 1512031311464
          updateArticle(tempData).then(() => {
            for (const v of this.list) {
              if (v.id === this.temp.id) {
                const index = this.list.indexOf(v)
                this.list.splice(index, 1, this.temp)
                break
              }
            }
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Update Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleDelete(row) {
      this.$notify({
        title: 'Success',
        message: 'Delete Successfully',
        type: 'success',
        duration: 2000
      })
      const index = this.list.indexOf(row)
      this.list.splice(index, 1)
    },
    handleFetchPv(pv) {
      fetchPv(pv).then(response => {
        this.pvData = response.data.pvData
        this.dialogPvVisible = true
      })
    },
    handleDownload() {
      this.downloadLoading = true
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['timestamp', 'title', 'type', 'importance', 'status']
        const filterVal = ['timestamp', 'title', 'type', 'importance', 'status']
        const data = this.formatJson(filterVal, this.list)
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'table-list'
        })
        this.downloadLoading = false
      })
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v[j])
        } else {
          return v[j]
        }
      }))
    }
  }
}
</script>
<style>
.el-dialog__body{
 padding: 0px;
}

.el-dialog__headerbtn{

    z-index: 9999;
}
.el-dialog__header{
  padding: 0;
}
.vue-form-wizard.md .wizard-icon-circle{
      width: 50px;
    height: 50px;
}

.vue-form-wizard.md .wizard-navigation .wizard-progress-with-circle {
    position: relative;
    top: 32px;
    height: 4px;
}

</style>